<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a
			role="button"
			class="navbar-burger"
			aria-label="menu"
			aria-expanded="false"
			data-target="navbarBasicExample"
		>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="/artist"> Artists </a>
			<a class="navbar-item" href="/song"> Songs </a>
			<a class="navbar-item" href="/album"> Albums </a>
			<a class="navbar-item" href="/label"> Labels </a>
			<a class="navbar-item" href="/songartist"> Songs and Artists </a>

		</div>

		<div class="navbar-end mr-5">
			<div class="navbar-item">
                <a href="/" class="button is-dark">
                    Home
                  </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"> Links </a>
    
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="https://github.com/kevinsekuj/CS340-project">
                            GitHub
                        </a>
                        <hr class="navbar-divider" />
                        <a class="navbar-item" href="/todo">
                            About
                        </a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</nav>