<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a
			role="button"
			class="navbar-burger"
			aria-label="menu"
			aria-expanded="false"
			data-target="navbarBasicExample"
		>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start ml-5">
			<a class="navbar-item" href="/artist"> Artists </a>
			<a class="navbar-item" href="/song"> Songs </a>
			<a class="navbar-item" href="/album"> Albums </a>
			<a class="navbar-item" href="/label"> Labels </a>
			<a class="navbar-item" href="/songartist"> Songs and Artists </a>

		</div>

		<div class="navbar-end mr-5">
			<div class="navbar-item">
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
					<span aria-hidden="true">
						<a href="/" class="button is-dark">
						Home
					  </a></span>
					<span aria-hidden="true">           
						<a href="https://github.com/kevinsekuj/CS340-project" class="button is-dark">
						Repository
					  </a></span>
			</div>
		</div>
	</div>
</nav>