<% layout('/partials/table') %>

<section class="hero is-dark mb-5">
    <div class="hero-body">
      <p class="title"  style="color:whitesmoke">
        Labels 
      </p>
      <p class="subtitle"  style="color:whitesmoke">
        View or insert Record Labels.
        A Record Label has a partial 1:M relationship with an Artist. This
        represents whether an Artist is signed to a particular Record Label or
        not.
      </p>
    </div>
  </section>
  

  <div class="container mb-5" id="form-container">
    <div class="box">
      <h5 class="title is-5">INSERT new label</h5>
  
      <div class="field">
        <label class="label">Label name</label>
        <div class="control">
          <input class="input" type="text" placeholder="">
        </div>
      </div>
  
      <div class="field">
        <label class="label">Date founded</label>
        <div class="control">
          <input class="input" type="date" placeholder="">
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="box">
        <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Label ID</th>
                <th>Label name</th>
                <th>Date Founded</th>
            </tr>
            </thead>
            <tbody>
            <% fakeData.forEach(row => { %>
              <tr id="<%=row.labelId%>">
                <td><%=row.labelId%></td>
                <td><%=row.labelName%></td>
                <td><%=row.dateFounded%></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
