<% layout('/partials/table') %>

<section class="hero is-dark mb-5">
  <div class="hero-body">
    <p class="title" style="color: whitesmoke;">
      Songs and artists
    </p>
    <p class="subtitle" style="color: whitesmoke;">
      View, or insert both songs and artists. Artists and songs are closely
      tied, where a song can be created by potentially many artists, and single
      artist can create many songs. Here you can view their relationship.
    </p>
  </div>
</section>

<div class="container mb-5" id="form-container">
  <div class="box">
    <h5 class="title is-5">INSERT new song & artist relationship</h5>

    <div class="field">
      <label class="label">* Song ID</label>
      <div class="control">
        <input class="input" type="text" placeholder="" />
      </div>
    </div>

    <div class="field">
      <label class="label">* Artist ID</label>
      <div class="control">
        <input class="input" type="text" placeholder="" />
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="box">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Song name</th>
          <th>Song ID</th>
          <th>Artist ID</th>
          <th>Artist name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Vanished</td>
          <td>1</td>
          <td>1</td>
          <td>Crystal Castles</td>
        </tr>
        <tr>
          <td>One Last Kiss</td>
          <td>2</td>
          <td>20</td>
          <td>Hikaru Utada</td>
        </tr>
        <tr>
          <td>First Love</td>
          <td>21</td>
          <td>20</td>
          <td>Hikaru Utada</td>
        </tr>
        <tr>
          <td>Lollipop Remix ft. Kanye West</td>
          <td>35</td>
          <td>3</td>
          <td>Kanye West</td>
        </tr>
        <tr>
          <td>Lollipop Remix ft. Kanye West</td>
          <td>35</td>
          <td>4</td>
          <td>Lil Wayne</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
