<% layout('/partials/boilerplate') %>

<section class="hero is-fullheight is-link" id="index-hero">
    <div class="hero-body">
      <div class="container" id="index-container">
        <div id="logo">musicWiki</div>
        <nav id="level" class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Songs</p>
                <p class="title">20,000</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Albums</p>
                <p class="title">500</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Artists</p>
                <p class="title">456</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Labels</p>
                <p class="title">45</p>
              </div>
            </div>
          </nav>

        <div class="columns" id="navigation">
            <div class="column is-one-third"">
                <div class="box"  id="about">
                  <h2>
                    About
                  </h2>
                  <p>
                    MusicWiki is a music streaming platform for 20k users. The users can select songs to listen to. MusicWiki wants to be able to suggest music to its users for a better experience. <br><br>Currently, the database does not have the data relationships in place to efficiently find suggestions to a user.
A database driven website will help MusicWiki do just that. <br><br>This database focuses on creating the proper data relationships to map artist “adjacency” -- namely, finding artists that share some connection by label or song collaboration, or finding songs by album. 
                  </p>

                </div>
            </div>
            <div class="column is-two-thirds">
                <div class="box" id="menu">
                    <aside class="menu">
                    <p class="menu-label">
                    General
                    </p>
                    <ul class="menu-list">
                    <li><a href="https://github.com/kevinsekuj/CS340-project">Repository</a></li>
                    </ul>
                    <p class="menu-label">
                    View tables
                    </p>
                    <ul class="menu-list">
                    <li><a href="/artist">View Artists</a></li>
                    <li><a href="/song">View Songs</a></li>
                    <li><a href="/album">View Albums</a></li>
                    <li><a href="/label">View Labels</a></li>
                    <li><a href="/songartist">View Songs-Artists Relationship</a></li>
                    </ul>
                </aside>
                </div>
            </div>
        </div>

      </div>
    </div>
  </section>