<% layout('/partials/boilerplate') %>

<section class="hero is-fullheight is-link" id="index-hero">
    <div class="hero-body">
      <div class="container" id="index-container">
        <div id="logo">musicWiki</div>
        <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Songs</p>
                <p class="title">20,000</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Albums</p>
                <p class="title">500</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Artists</p>
                <p class="title">456</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Labels</p>
                <p class="title">45</p>
              </div>
            </div>
          </nav>

        <div class="columns" id="navigation">
            <div class="column is-one-third"">
                <div class="box"  id="about">
                  <h2>
                    About
                  </h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eveniet aspernatur libero aperiam sapiente, ex quidem, soluta dolorum amet ad officiis, blanditiis iure accusamus! Accusantium, temporibus vero? Ad, voluptatum harum.</p>

                </div>
            </div>
            <div class="column is-two-thirds">
                <div class="box" id="menu">
                    <aside class="menu">
                    <p class="menu-label">
                    General
                    </p>
                    <ul class="menu-list">
                    <li><a>About</a></li>
                    <li><a>GitHub</a></li>
                    </ul>
                    <p class="menu-label">
                    View tables
                    </p>
                    <ul class="menu-list">
                    <li><a>Songs</a></li>
                    <li><a>Albums</a></li>
                    <li><a>Artists</a></li>
                    <li><a>Labels</a></li>
                    <li><a>Songs and Artists</a></li>
                    </ul>
                </aside>
                </div>
            </div>
        </div>

      </div>
    </div>
  </section>