html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: rgb(10, 25, 47);
  font-family: 'Roboto', sans-serif;
}

:root {
  color-scheme: dark;
}

#index-hero {
  background-color: rgb(211, 211, 211);
  text-align: center;
  font-size: 2em;
}

#index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo {
  background-color: rgb(54, 54, 54);
  margin: auto;
  margin-bottom: 50px;
  font-size: 2em;
  color: whitesmoke;
  font-family: 'Crimson Text', serif;
  border-radius: 5px;
  width: 82%;
}

.level {
  font-family: 'Crimson Text', serif;
}

#navigation {
  margin-top: 20px;
  align-self: center;
  width: 70%;
}

#menu,
#about {
  color: rgb(23, 42, 69);
}

a:hover,
li:hover {
  background-color: whitesmoke;
}

#about {
  height: 100%;
}

#about > p {
  margin: 20px 0 0 0;
  font-size: 0.5em;
}

#level p {
  color: rgb(23, 42, 69);
}
