html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: rgb(211, 211, 211);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
}

#form-container {
  width: 33%;
}

#form-wrapper {
  display: flex;
  justify-content: space-between;
}
